<div class = "row justify-content-center">
  <div class = "col-8">

    <h4>スポット編集</h4>

    <%= form_with model: @spot, url: spot_path, method: :patch do |f| %>
      <div class = "field mb-3">
        <%= f.label :"スポット名" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div data-controller = "google-map--form mb-3">
        <%= f.label :"キーワードで探す" %><br>
        <%= f.search_field :keyword, data: { google_map__form_target: "keyword" } %><br>

        <%= f.label :"緯度" %>
        <%= f.number_field :latitude, data: { google_map__form_target: "latitude" }, tabindex: -1, readonly: true, class: "looks_disable" %>
        <%= f.label :"経度" %>
        <%= f.number_field :longitude, data: { google_map__form_target: "longitude" }, tabindex: -1, readonly: true, class: "looks_disable"%><br>

        <div data-google-map--form-target="map" style="height:30vh;max-width:300px;"></div>

        <%= f.label :"address" %>
        <%= f.text_field :address, list: "address_list", data: { google_map__form_target: "address" } %><br>
        <datalist id = "address_list" data-google-map--form-target = "addressList" ></datalist>
      </div>

      <div class = "select-field mb-3">
        <%= f.label :"所属エリア選択" %>
        <%= f.collection_select :area_id, @areas, :id, :name, include_blank: "選択して下さい" %>
      </div>

      <div class = "actions mb-3">
        <%= f.submit "編集完了", class: "btn btn-success" %>
      </div>
    <% end %>

    <%= link_to spots_path do %>
      戻る
    <% end %>

  </div>
</div>