<h1>スポット編集</h1>

<%= form_with model: @spot, url: spot_path, method: :patch do |f| %>
  <div class = "field">
    <%= f.label :"スポット名" %>
    <%= f.text_field :name %>
  </div>

  <div class = "select-field">
    <%= f.collection_select :area_id, @areas, :id, :name, include_blank: "選択して下さい" %>
  </div>

  <div class = "actions">
    <%= f.submit "編集完了" %>
  </div>
<% end %>

<%= link_to spot_path(@spot.id) do %>
  戻る
<% end %>