<h1>スポット一覧</h1>

<table class = "spot-table">
  <thead>
    <tr>
      <th>スポットID</th>
      <th>スポット名</th>
      <th>エリア</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.id %></td>
        <td><%= spot.name %></td>
        <td><%= spot.area.name %></td>
        <td>
          <%= link_to edit_spot_path(spot.id) do %>
            編集する
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_spot_path do %>
  <p>スポット作成</p>
<% end %>