<h1>スポットを作成する</h1>

<%= form_with model: @spot, url: spots_path, method: :post do |f| %>
  <div class = "field">
    <%= f.label :"スポット名" %>
    <%= f.text_field :name, placeholder: "スポット名を入力してください" %>
  </div>

  <div class = "select-field">
    <%= f.collection_select :area_id, Area.all, :id, :name, include_blank: "選択して下さい" %>
  </div>

  <div class = "actions">
    <%= f.submit "作成する" %>
  </div>
<% end %>