<div class = "d-flex justify-content-center flex-wrap col-md-11 mx-auto">
  <% posts.each do |post| %>
    <div class = "card col-md-3 m-2 shadow">
      <%= image_tag 'hiroshima.jpg', size:"100%", class:"card-img" %>
        <div class = "card-img-overlay p-0">
          <h6 class = "col-md-10 mx-auto text-center"><%= post.name %></h6>
          <div class = "col-md-8 mx-auto">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.get_post_image(400,400,300,200), class: "img-fluid" %>
            <% end %>
          </div>
        </div>
      <p>いいね！<%= post.favorites.count %>件</p>
    </div>
  <% end %>
</div>