<% followers.each do |follower| %>
  <div class="d-flex justify-content-center mb-3">
    <div class="follower-image col-md-2 col-4 text-center">
      <%= link_to user_path(follower) do %>
        <%= image_tag follower.get_profile_image, class: "rounded-circle" %>
      <% end %>
    </div>
    <table class="follower-detail col-md-3 col-7">
      <tr>
        <th>name：</th>
        <th><%= follower.name %></th>
        <th></th>
      </tr>
      <tr>
        <th>投稿：</th>
        <th><%= follower.posts.count %></th>
        <th></th>
      </tr>
      <% if follower != current_user %>
        <tr>
          <% if current_user.followeds?(follower) %>
            <th class="col-lg-8 col-md-12 col-7 mx-auto py-1 text-center rounded-pill bg-info">
              <%= link_to "フォロー中", user_relationships_path(follower), method: :delete, "data-confirm" => "フォロー解除しますか？", class: "text-light" %>
            </th>
          <% else %>
            <th class="col-lg-9 col-md-12 col-8 mx-auto py-1 text-center rounded-pill bg-info">
              <%= link_to "フォローする", user_relationships_path(follower), method: :post, class: "text-light" %>
            </th>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>