<div class="row">
  <div class="col-md-3 mb-3">
    <%= render "public/users/sidebar" %>
  </div>

  <div class="user-info col-md-9 col-12">
    <h3 class="text-center mx-auto mb-3">User info</h3>
    <div class="d-flex justify-content-center mb-3">
      <div class="user-image col-md-2 col-4 text-center">
        <%= link_to user_path(@user), "data-turbolinks": false do %>
          <%= image_tag @user.get_profile_image, class: "rounded-circle" %>
        <% end %>
      </div>
      <table class="user-detail col-md-2 col-7">
        <tr>
          <th>name：</th>
          <th><%= @user.name %></th>
          <th></th>
        </tr>
        <tr>
          <th>投稿：</th>
          <th><%= @user.posts.count %></th>
        </tr>
        <% if @user.id == current_user.id %>
          <tr>
            <th>
              <%= link_to "会員情報編集", edit_user_path(@user) %>
            </th>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="tab-area d-flex justify-content-center align-items-end col-md-8 col-12 mx-auto mb-3">
      <div class="tab active text-center col-lg-4 col-md-5 col-5 mx-md-4 mr-1">
        フォロー：<%= @user.followeds.count %>
      </div>
      <div class="tab text-center col-lg-4 col-md-5 col-5 mx-md-4 ml-1">
        フォロワー：<%= @user.followers.count %>
      </div>
    </div>

    <div class="content-area">
      <div class="content show">
        <%= render "index", followers: @followeds, user: @user %>
      </div>
      <div class="content">
        <%= render "index", followers: @folloewrs, user: @user %>
      </div>
    </div>
  </div>
</div>