<div class="slider">
  <div class="top1 jumbotron jumbotron-fluid rounded">
    <div class="top-introduction col-md-4 col-10 m-auto py-md-5 py-5 text-center">
      <h1>Hiroshimap</h1>
      <p>－広島好きで作る―</p>
      <%= link_to "/homes/spot", class: "text-danger" do %>
        <br><h2>Welcome to HiroshiMap</h2><br>
      <% end %>
      <%= link_to new_user_session_path, class: "text-danger", "data-turbolinks": false do %>
        <br><h2>Join HiroshiMap member</h2><br>
      <% end %>
    </div>
  </div>
  <div class="top2 jumbotron jumbotron-fluid rounded">
    <div class="top-introduction col-md-4 col-10 m-auto py-md-5 py-5 text-center">
      <h1>Hiroshimap</h1>
      <p>－広島好きで作る―</p>
      <%= link_to "/homes/spot", class: "text-danger" do %>
        <br><h2>Welcome to HiroshiMap</h2><br>
      <% end %>
      <%= link_to new_user_session_path, class: "text-danger", "data-turbolinks": false do %>
        <br><h2>Join HiroshiMap member</h2><br>
      <% end %>
    </div>
  </div>
  <div class="top3 jumbotron jumbotron-fluid rounded">
    <div class="top-introduction col-md-4 col-10 m-auto py-md-5 py-5 text-center">
      <h1>Hiroshimap</h1>
      <p>－広島好きで作る―</p>
      <%= link_to "/homes/spot", class: "text-danger" do %>
        <br><h2>Welcome to HiroshiMap</h2><br>
      <% end %>
      <%= link_to new_user_session_path, class: "text-danger", "data-turbolinks": false do %>
        <br><h2>Join HiroshiMap member</h2><br>
      <% end %>
    </div>
  </div>
</div>

<div class="hot-posts col-12 mx-auto my-5">
  <div class="tab-area d-flex justify-content-center align-items-end my-5">
    <div class="tab active text-center mx-md-3 mx-1"><h2>New Posts Pick up!</h2></div>
    <div class="tab text-center mx-md-3 mx-1"><h2>Popular Posts Pick up!</h2></div>
  </div>

  <div class="content-area col-md-12 my-5">
    <div class="content show">
      <%= render "public/posts/list", posts: @new_posts %>
    </div>
    <div class="content">
      <%= render "public/posts/list", posts: @popular_posts %>
    </div>
  </div>
</div>

<div class="about jumbotron jumbotron-fluid vh-100">
  <div class="about-introduction col-md-4 col-11 h-50 ml-md-5 mx-auto">
    <h1 class="text-center my-md-5 py-5 text-light">What's HiroshiMap?</h1>
    <p class="text-center text-light">広島が好きなみんなで作るサイトになります！<br>
      広島のスポット周辺のおすすめのお店を紹介してください！<br>
      休日のお出かけに！旅行に！観光に！<br>
      美味しいものを食べましょう！
    </p>
  </div>
</div>

