<div class = "d-flex justify-content-center mb-3">
  <div class = "col-md-1">
    <%= image_tag user.get_profile_image, class: "rounded-circle" %>
  </div>
  <table class = "col-2">
    <tr>
      <th>name：</th>
      <th><%= user.name %></th>
      <th></th>
    </tr>
    <tr>
      <th>投稿：</th>
      <th><%= user.posts.count %></th>
    </tr>
  </table>
</div>

<div class = "d-flex justify-content-center col-md-8 mx-auto mb-3">
  <div class = "col-3 mx-1">
    <%= link_to user_path(user), "data-turbolinks": false do %>
      投稿一覧
    <% end %>
  </div>
  <div class = "col-3 mx-1">
    <%= link_to user_path(user, favorites: user.id), "data-turbolinks": false do %>
      いいね！一覧
    <% end %>
  </div>
  <% if @user.id == current_user.id %>
    <div class = "col-3 mx-1">
      <%= link_to edit_user_path(user) do %>
        会員情報編集
      <% end %>
    </div>
  <% end %>
</div>