<h1>Users edit</h1>

<%= form_with model: @user do |f| %>
  <div class = "field" >
    <%= f.label :Name %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class = "field" >
    <%= f.label :Image %><br>
    <%= f.file_field :profile_image %>
  </div>

  <div class = "actions" >
    <%= f.submit "Update User" %>
  </div>
<% end %>

<div class = "withdrawl" >
  <%= link_to withdrawal_confirm_path do %>
    退会手続き
  <% end %>
</div>