<h1>Users info</h1>

<div>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>
<tr>
  <th>name</th>
  <th><%= @user.name %></th>
</tr>
<tr>
  <th>
    <% if @user.id == current_user.id %>
      <%= link_to edit_user_path(@user.id) do %>
        編集
      <% end %>
    <% end %>
  </th>
  <th></th>
</tr>

<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <table class = "post-table">
      <tr>
        <th>店名：<%= post.name %></th>
      </tr>
      <tr>
        <td><%= image_tag post.get_post_image(300,300) %></td>
      </tr>
    </table>
  <% end %>
<% end %>