<div class="row">
  <div class="col-md-10 col-12 offset-md-2">

    <% if @genre.errors.any? %>
      <div class="errors-message mx-auto">
        <%= @genre.errors.count %>件のエラーが発生しました
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4>ジャンル編集</h4>

    <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
      <div class="field col-md-8 col-10 mb-3">
        <%= f.label :name, :"ジャンル名" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="actions col-md-3 col-4 mb-3">
        <%= f.submit "編集完了", class: "btn btn-success" %>
      </div>
    <% end %>

    <%= link_to admin_genres_path do %>
      <p class="col-md-3 col-4">ジャンル一覧</p>
    <% end %>

  </div>
</div>