<div class="row">
  <div class="col-md-10 col-12 offset-md-2">

    <% if @area.errors.any? %>
      <div class="errors-message mx-auto">
        <%= @area.errors.count %>件のエラーが発生しました
        <ul>
          <% @area.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4>エリアを作成する</h4>

    <%= form_with model: @area, url: admin_areas_path, method: :post do |f| %>
      <div class="field col-md-8 col-10 mb-3">
        <%= f.label :name, :"エリア名" %>
        <%= f.text_field :name, class: "form-control", placeholder: "エリア名を入力してください" %>
      </div>

      <div class="actions col-md-3 col-4 mb-3">
        <%= f.submit "作成する", class: "btn btn-success" %>
      </div>
    <% end %>

    <%= link_to admin_areas_path do %>
      <p class="col-md-3 col-4">エリア一覧</p>
    <% end %>

  </div>
</div>