<h3 class = "row justify-content-center mb-3">スポットで探す</h3>

<div class = "d-flex justify-content-center flex-wrap mb-3">
  <% @spots.each do |spot| %>
    <div class = "col-3 ml-1">
      <%= link_to posts_path(spot_id: spot.id) do %>
        ○<%= spot.name %>
      <% end %>
    </div>
  <% end %>
</div>

<div data-controller="google-map--index">
  <div class = "col-md-10 offset-md-1">
    <div data-google-map--index-target="map" data-json="<%= @spots_json %>" style="height:50vh;max-width:800px;"></div>
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 offset-md-2">
    <%= link_to "/homes/area" do %>
      <p>エリア一覧</p>
    <% end %>
  </div>
  <div class = "col-md-4">
    <%= link_to "/homes/genre" do %>
      <p>ジャンル一覧</p>
    <% end %>
  </div>
</div>