<div class = "row">
  <div class = "col-md-6 mx-auto my-3">
    <h2>メンバーになる</h2>

    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field col-md-8">
        <%= f.label :Name %><br />
        <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field col-md-8">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field col-md-8">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>

      <div class="field col-md-8">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>

      <div class="actions col-md-8 mt-3">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>

    <div class = "col-md-8 my-3">
      <%= render "devise/shared/links" %>
    </div>

    <div class = "col-md-8 my-3">
      <%= link_to "ゲストとしてログインする", guest_sign_in_path, method: :post %>
    </div>
  </div>
</div>