<div class = "row">
  <div class = "col-md-10 offset-md-2">

    <h4 class = "my-3">コメント一覧</h4>

    <%= form_with url: admin_post_comments_path, method: :get, local: true do |f| %>
      <div class = "serch-field col-md-5 mb-1">
        <%= f.label :"キーワード検索" %><br>
        <%= f.search_field :name, value: params[:name], class: "form-control me-2", placeholder: "Search" %>
      </div>

      <div class = "actions col-md-5 mb-3">
        <%= f.submit "Search", class: "btn btn-outline-success" %>
      </div>
    <% end %>

    <table class = "post-comment-table table-bordered table-sm col-md-8 mb-3">
      <thead class="table-info">
        <tr>
          <th>コメントID</th>
          <th>投稿ID</th>
          <th>ユーザー</th>
          <th>コメント内容</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @post_comments.each do |post_comment| %>
          <tr>
            <td><%= post_comment.id %></td>
            <td><%= post_comment.post.id %></td>
            <td><%= post_comment.user.name %></td>
            <td><%= post_comment.comment %></td>
            <td>
              <%= link_to "削除", admin_post_comment_path(post_comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>