<div class = "row justify-content-center">
  <div class = "col-md-12">

    <%= link_to new_admin_spot_path do %>
      <p>スポット作成</p>
    <% end %>

    <h4>スポット一覧</h4>

    <table class = "spot-table">
      <thead>
        <tr>
          <th>スポットID</th>
          <th>スポット名</th>
          <th>エリア</th>
          <th>住所</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @spots.each do |spot| %>
          <tr>
            <td><%= spot.id %></td>
            <td><%= spot.name %></td>
            <td><%= spot.area.name %></td>
            <td><%= spot.address %></td>
            <td>
              <%= link_to edit_admin_spot_path(spot.id) do %>
                編集する
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>