<div class="row">
  <div class="col-md-10 col-12 mx-md-auto">

    <%= link_to "スポット作成", new_admin_spot_path %>

    <h4 class="my-3">スポット一覧</h4>

    <table class="spot-table table-bordered table-sm col-md-10 col-12 mb-3">
      <thead class="table-info">
        <tr>
          <th>スポットID</th>
          <th>スポット名</th>
          <th>エリア</th>
          <th>住所</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @spots.each do |spot| %>
          <tr>
            <td><%= spot.id %></td>
            <td><%= spot.name %></td>
            <td><%= spot.area.name %></td>
            <td><%= spot.address %></td>
            <td>
              <%= link_to "編集する", edit_admin_spot_path(spot) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>