<h1>投稿を編集する</h1>

<%= form_with model: @post, url: post_path, method: :patch do |f| %>
  <div class = "field">
    <%= f.label :"タイトル" %>
    <%= f.text_field :name %>
  </div>

  <div class = "field">
    <%= f.label :"紹介文" %>
    <%= f.text_field :introduction %>
  </div>

  <div class = "field">
    <%= f.label :"画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class = "selection">
    <%= f.label :"スポット選択" %>
    <%= f.collection_select :spot_id, Spot.all, :id, :name %>
  </div>

  <div class = "collection">
    <%= f.label :"ジャンル選択(複数選択可)" %>
    <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name, include_hidden: false) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>

  <div class = "actions">
    <%= f.submit "編集完了" %>
  </div>
<% end %>

<%= link_to post_path(@post.id) do %>
  戻る
<% end %>
<%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
  削除する
<% end %>