<div class = "row">
  <div class = "col-md-6 mx-auto my-3">
    <h4>会員情報編集</h4>

    <%= form_with model: @user do |f| %>
      <div class = "field col-md-6 mb-3" >
        <%= f.label :Name %><br>
        <%= f.text_field :name, class: "form-control", autofocus: true %>
      </div>

      <div class = "field col-md-6 mb-3" >
        <%= f.label :"プロフィール画像" %><br>
        <%= f.file_field :profile_image %>
      </div>

      <div class = "actions col-md-6 mb-3" >
        <%= f.submit "編集完了", class: "btn btn-success" %>
      </div>
    <% end %>

    <div class = "withdrawl col-md-6" >
      <%= link_to withdrawal_confirm_path do %>
        退会手続き
      <% end %>
    </div>

  </div>
</div>