<h3 class = "row justify-content-center mb-3">Users info</h3>

<div class = "d-flex justify-content-center mb-3">
  <div class = "col-md-1">
    <%= image_tag @user.get_profile_image, class: "rounded-circle" %>
  </div>
  <table class = "col-2">
    <tr>
      <th>name：</th>
      <th><%= @user.name %></th>
      <th></th>
    </tr>
    <tr>
      <th>投稿：</th>
      <th><%= @user.posts.count %></th>
    </tr>
    <% if @user.id == current_user.id %>
      <tr>
        <th>
          <%= link_to "会員情報編集", edit_user_path(@user) %>
        </th>
      </tr>
    <% end %>
  </table>
</div>

<div class = "tab-area d-flex justify-content-center align-items-end col-md-8 mx-auto mb-3">
  <div class = "tab active mx-5">投稿一覧</div>
  <div class = "tab mx-5">いいね！一覧</div>
</div>

<div class="content-area">
  <div class="content show">
    <%= render 'public/posts/list', posts: @posts %>
  </div>
  <div class="content">
    <%= render 'public/posts/list', posts: @favorite_posts %>
  </div>
</div>