<!DOCTYPE html>
<html>
  <head>
    <title>Hiroshimap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/d9d2324d55.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg bg-info">
        <div class = "container">
          <div class = "navbar-logo p-3">
            <%= link_to root_path do %>
              <h2>HiroshiMap</h2>
            <% end %>
          </div>
          <ul class = "navbar-nav">
            <div class = "row ml-auto">
              <% if user_signed_in? %>
                <li class = "nav-link">ようこそ<%= current_user.name %>さん！</li>
                <li class = "nav-link">
                  <%= link_to "/homes/spot" do %>
                    スポット一覧
                  <% end %>
                </li>
                <li class = "nav-link">
                  <%= link_to user_path(current_user.id), "data-turbolinks": false do %>
                    マイページ
                  <% end %>
                </li>
                <li class = "nav-link">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    ログアウト
                  <% end %>
                </li>
              <% else %>
                <li class = "nav-link">ようこそゲストさん！</li>
                <li class = "nav-link">
                  <%= link_to "/homes/spot" do %>
                    スポット一覧
                  <% end %>
                </li>
                <li class = "nav-link">
                  <%= link_to new_user_registration_path do %>
                    新規登録
                  <% end %>
                </li>
                <li class = "nav-link">
                  <%= link_to new_user_session_path do %>
                    ログイン
                  <% end %>
                </li>
              <% end %>
            </div>
          </ul>
        </div>
      </nav>
    </header>

    <p class = "flash-message">
      <%= flash[:notice] %>
    </p>

    <div class="container-fluid">
      <%= yield %>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script>
    $('.slider').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
  </script>
  </body>
</html>
