<!DOCTYPE html>
<html>
  <head>
    <title>Hiroshimap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "logo" >
        <%= link_to root_path do %>
          <h2>HiroshiMap</h2>
        <% end %>
      </div>
      <ul>
        <% if user_signed_in? %>
          <li>ようこそ<%= current_user.name %>さん！</li>
          <li>スポット一覧</li>
          <li>
            <%= link_to user_path(current_user.id) do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              Log out
            <% end %>
          </li>
        <% else %>
          <li>ようこそゲストさん！</li>
          <li>スポット一覧</li>
          <li>
            <%= link_to new_user_registration_path do %>
              Sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </header>

    <p class = "flash-message">
      <%= flash[:notice] %>
    </p>

    <%= yield %>

  </body>
</html>
