<!DOCTYPE html>
<html>
  <head>
    <title>Hiroshimap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/d9d2324d55.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid mx-lg-5">
          <div class="navbar-brand">
            <%= link_to root_path do %>
              <%= image_tag "logo.png" %>
            <% end %>
          </div>
          <div class="d-none d-lg-block">
            <%= render "layouts/nav_menu" %>
          </div>
          <div class="d-lg-none">
            <div class="openbtn"><span></span><span></span><span></span></div>
            <div id="g-nav" class="pt-5"><%= render "layouts/nav_menu" %></div>
          </div>
        </div>
      </nav>
    </header>

    <p class = "flash-message mx-auto text-center">
      <%= flash[:notice] %>
    </p>

    <div class="view container-fluid">
      <%= yield %>
    </div>

    <footer class="container-fluid mt-5">
      <p class="js-pagetop scroll-top"><a href="#">Page Top</a></p>
      <div id="wrapper"><canvas id="waveCanvas"></canvas></div>
    </footer>
  </body>
</html>