<!DOCTYPE html>
<html>
  <head>
    <title>Hiroshimap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/d9d2324d55.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-md">
        <div class = "container-fluid mx-md-5">
          <div class = "navbar-logo">
            <%= link_to root_path do %>
              <%= image_tag "logo.png" %>
            <% end %>
          </div>
          <ul class = "navbar-nav">
            <div class = "row ml-auto">
              <% if user_signed_in? %>
                <li class = "nav-link rounded-pill bg-info text-light mx-md-1 px-1">ようこそ<%= current_user.name %>さん！</li>
                <li class = "nav-link rounded-pill bg-info mx-md-3 px-1">
                  <%= link_to "/homes/spot", class: "text-light" do %>
                    <i class="fa-solid fa-location-dot"></i> スポット一覧
                  <% end %>
                </li>
                <li class = "nav-link rounded-pill bg-info mx-md-3 px-1">
                  <%= link_to user_path(current_user.id), class: "text-light", "data-turbolinks": false do %>
                    <i class="fa-solid fa-face-meh"></i> マイページ
                  <% end %>
                </li>
                <li class = "nav-link rounded-pill bg-info mx-md-3 px-1">
                  <%= link_to destroy_user_session_path, method: :delete, class: "text-light" do %>
                    <i class="fa-solid fa-face-frown"></i> ログアウト
                  <% end %>
                </li>
              <% else %>
                <li class = "nav-link rounded-pill bg-info text-light mx-md-1 px-1">ようこそゲストさん！</li>
                <li class = "nav-link rounded-pill bg-info mx-3 px-1">
                  <%= link_to "/homes/spot", class: "text-light" do %>
                    <i class="fa-solid fa-flag"></i> スポット一覧
                  <% end %>
                </li>
                <li class = "nav-link rounded-pill bg-info mx-md-3 px-1">
                  <%= link_to new_user_registration_path, class: "text-light" do %>
                    <i class="fa-solid fa-circle-right"></i> 新規登録
                  <% end %>
                </li>
                <li class = "nav-link rounded-pill bg-info mx-md-3 px-1">
                  <%= link_to new_user_session_path, class: "text-light" do %>
                    <i class="fa-solid fa-circle-right"></i> ログイン
                  <% end %>
                </li>
              <% end %>
            </div>
          </ul>
        </div>
      </nav>
    </header>

    <div class="view container-fluid">
      <%= yield %>
    </div>

    <footer class = "container-fluid">
      <p class = "js-pagetop scroll-top scroll-view"><a href="#">Page Top</a></p>
      <div class = "footer-logo col-md-3 mx-auto"><%= image_tag "logo.png", class: "img-fluid" %></div>
    </footer>

  </body>
</html>