<!DOCTYPE html>
<html>
  <head>
    <title>Hiroshimap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/d9d2324d55.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-md">
        <div class = "container-fluid mx-5">
          <div class = "navbar-logo">
            <%= link_to root_path do %>
              <%= image_tag "logo.png" %>
            <% end %>
          </div>
          <ul class = "navbar-nav">
            <div class = "row ml-auto">
              <% if user_signed_in? %>
                <li class = "nav-link rounded-pill bg-info text-light mx-1">ようこそ<%= current_user.name %>さん！</li>
                <li class = "nav-link rounded-pill bg-info mx-3">
                  <%= link_to "/homes/spot", class: "text-light" do %>
                    <i class="fa-solid fa-location-dot"></i> スポット一覧
                  <% end %>
                </li>
                <li class = "nav-link rounded-pill bg-info mx-3">
                  <%= link_to user_path(current_user.id), class: "text-light", "data-turbolinks": false do %>
                    <i class="fa-solid fa-face-meh"></i> マイページ
                  <% end %>
                </li>
                <li class = "nav-link rounded-pill bg-info mx-3">
                  <%= link_to destroy_user_session_path, method: :delete, class: "text-light" do %>
                    <i class="fa-solid fa-face-frown"></i> ログアウト
                  <% end %>
                </li>
              <% else %>
                <li class = "nav-link rounded-pill bg-info text-light mx-1">ようこそゲストさん！</li>
                <li class = "nav-link rounded-pill bg-info mx-3">
                  <%= link_to "/homes/spot", class: "text-light" do %>
                    <i class="fa-solid fa-flag"></i> スポット一覧
                  <% end %>
                </li>
                <li class = "nav-link rounded-pill bg-info mx-3">
                  <%= link_to new_user_registration_path, class: "text-light" do %>
                    <i class="fa-solid fa-circle-right"></i> 新規登録
                  <% end %>
                </li>
                <li class = "nav-link rounded-pill bg-info mx-3">
                  <%= link_to new_user_session_path, class: "text-light" do %>
                    <i class="fa-solid fa-circle-right"></i> ログイン
                  <% end %>
                </li>
              <% end %>
            </div>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <%= yield %>
    </div>

  <footer class = "container-fluid">
    <div class = "footer-logo col-md-3 mx-auto"><%= image_tag "logo.png" %></div>
  </footer>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="../slick/slick.min.js"></script>
  <script type="text/javascript" src="../layout.js"></script>

  </body>
</html>